body{
    background:red;
    .head {
        color: red;
    }
    &:hover {
        color:yellow;
    }
}

body{
    background:red;

}
body .head {
    color: red;
}
body:hover {
    color: yellow;
}
